:root {
  --color-red: #FF6060;
  --bg-grey: #F7F7F7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-red);
}

a,p,li,h1 {
  font-weight: 500;
  color: var(--color-red);
}

a {
  text-decoration: none;
}
.active {
  text-decoration: underline var(--color-red);
}